<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString.SQL Server (SqlClient)" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Examples.ExampleDbContext;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="4" />
      <add name="ORMGeneral" value="0" />
      <add name="ORMStateManagement" value="0" />
      <add name="ORMPersistenceExecution" value="3" />
      <add name="LinqExpressionHandler" value="3" />
    </switches>
  </system.diagnostics>
</configuration>
